<tr>
  <td>
    <p><%= bark.barkee %> is one of the best <%= bark.category %>, <%= bark.content %>.</p></br>
    <p>
      Posted <%= time_ago_in_words(bark.created_at) %> ago.
    </p>
  </td>
</tr>