<% if signed_in? %>
<div id="bark_hint" class="helpful_hint">
	Share your opinion.  Inform your network.
</div>
<div id="search" class="display_results">
	<table>
		<tr>
			<td class="search_image" rowspan="2"><%= image_tag("bark.png", :name => "search_image") %></td>
			<%= render 'shared/bark_form' %>
		</tr>
	</table>
</div>
<br>
<div class="display_results">
</div>
<div id="spinner1" class="spinner" >
</div>
<% else %>
<p>Register!</p>
<% end %>