<div class="footer">
	<br>
	<%= link_to "About", '#' %>&nbsp&nbsp|&nbsp&nbsp<%= link_to "Contact", '#' %>&nbsp&nbsp|&nbsp&nbsp<%= link_to "FAQ", '#' %>

	<br><br>
	&copy; 2012 Bark!best<br>
	<br>
</div>