<div id="header">
	<table width="100%">
		<tr>
			<td class="logo">
				<% logopic = image_tag("logo.png", :alt => "Bark!Best") %>
				<%= link_to logopic, '#' %>
			</td>
			<td class="login">
				<div class="login_link" ><%= link_to "Register", '#' %></div>
				<div class="login_link" ><%= link_to "Login", '#' %></div>
			</td>
		</tr>
	</table>
</div>