<ul class="tabs group">
	<li onClick="window.open('index.html','_self');"><%= link_to "Sniff", '#' %></li>
	<li class="active" onClick="window.open('bark.html','_self');"><%= link_to "Bark!", "bark.html" %></li>
	<li onClick="window.open('bite.html','_self');"><%= link_to "Bite", '#' %></li>
</ul>